<!doctype html>
<html class="no-js" lang="en-US">

<head>
  <meta charset="utf-8">
  <title>TAO release {{ release }}</title>
  <meta name="description" content="System requirements for TAO release {{ release }}">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">

  <link rel="stylesheet" href="css/main.css">
</head>

<body class="tao-system-requirements">
  <header>
    <h1>TAO release {{ release }}</h1>
  </header>
  <main>
    <section class="tao-system-requirements">
      <h2>Browsers</h2>
      <ul class="browsers tao-system-requirements">
        {{#each browsers}}
        <li class="{{this.key}}">
          <span class="icon"></span>
          <div class="title">{{this.label}}</div>
          <span class="versions">{{this.versionStr}}</span>
        </li>
        {{/each}}
      </ul>
    </section>
    <section class="tao-system-requirements">
      <h2>Build TAO from the source</h2>
      <h3>Download the code</h3>      
      <ul class="downloads tao-system-requirements">
        {{#each downloads.source.archives}}
        <li class="{{this.key}}">
          <a class="title" href="{{this.access}}">{{this.label}}</a>
        </li>
        {{/each}}      
        {{#each downloads.source.vcs}}
        <li class="{{this.key}}">
          <a class="title" href="{{this.access}}">{{this.label}}</a>
        </li>
        {{/each}}
        </ul>
    </section>
    <section class="tao-system-requirements">
      <h3>Server-side requirements</h3>
      <h4>Programming Language</h4>
      <ul class="programming-language tao-system-requirements">
        {{#each server.stack.languages}}
        <li class="{{this.key}}">
          <span class="title">{{this.label}}</span>
          <span class="versions">{{this.versions}}</span>
        </li>
        {{/each}}
      </ul>
      <h4>Web Server</h4>
      <ul class="server tao-system-requirements">
        {{#each server.stack.servers}}
        <li class="{{this.key}}">
          <span class="title">{{this.label}}</span>
          <span class="versions">{{this.versions}}</span>
        </li>
        {{/each}}
      </ul>
      <h4>Database</h4>
      <ul class="database">
        {{#each server.stack.databases}}
        <li class="{{this.key}}">
          <span class="title">{{this.label}}</span>
          <span class="versions">{{this.versions}}</span>
        </li>
        {{/each}}
      </ul>
    </section>
    <section class="tao-system-requirements">
      <h2>Install TAO as a Docker container</h2>
      <ul class="container tao-system-requirements">
        {{#each downloads.virtualized.hosts}}
        <li class="{{this.key}}">
          <a class="title" href="{{this.access}}">{{this.label}}</a>
        </li>
        {{/each}}
        {{#each downloads.virtualized.containers}}
        <li class="{{this.key}}">
          <div class="title">{{this.label}}</div>
          <pre>{{this.access}}</pre>
        </li>
        {{/each}}
      </ul>
    </section>
    <section class="tao-system-requirements">
      <h2>Viewports and Devices</h2>
      <p>Tests we performed on mobile screens</p>
      <div class="viewports-devices tao-system-requirements">
        {{#each viewportDevices}}
        <details open>
          <summary>{{this.env.label}}</summary>
          <table>
            <colgroup>
              <col class="th">
              <col>
            </colgroup>
            <thead>
              <tr>
                <th colspan="2">Environment</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th>TAO</th>
                <td>{{this.env.tao.release}} / {{this.env.tao.testRunner}}</td>
              </tr>
              {{#if this.env.deviceStr}}
              <tr>
                <th>Device</th>
                <td>{{this.env.deviceStr}}</td>
              </tr>
              {{/if}}
              <tr>
                <th>Screen</th>
                <td>{{this.env.screen.width}} × {{this.env.screen.height}} / {{this.env.screen.aspectRatio}} /
                  {{this.env.screen.orientation}}</td>
              </tr>
            </tbody>
          </table>
          {{#if this.interactions}}
          <table>
            <colgroup>
              <col class="th">
              <col>
            </colgroup>
            <thead>
              <tr>
                <th colspan="2">Comments</th>
              </tr>
            </thead>
            <tbody>
              {{#each this.interactions}}
              <tr>
                <th>{{this.label}}</th>
                <td>{{this.comment}}</td>
              </tr>
              {{/each}}
              {{/if}}
            </tbody>
          </table>
        </details>
        {{/each}}
      </div>
    </section>
  </main>
  <script>
  if (window.parent !== window.top) {
    document.body.classList.add('in-iframe');
  }
</script>
</body>

</html>